table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }


  table.center {
    margin-left: auto; 
    margin-right: auto;
  }

  * {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
  }

  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
  }

  p {
    color: red;
    font-family: serif;
    font-size: 160%;
  }

  h6 {
    color: rgb(6, 6, 6);
    font-family: bold;
    font-size: 150%;
    text-align: justify;
  }